*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  center;
    color: #ffff;
    font-family: sans-serif;
}

.container{
    width: 19rem;
    height: 24rem;
    border: none;
    border-radius: 8px;
    background-color: #b9eded;
}

.container > img{
    width: 100%;
    height: 75%;
    border-radius: 8px 8px;
} 

.container > p{
    width: 100%;
    height: 25%;
    text-align: center;
    color: #222;
}

#btn-get-api{
    height: 2rem;
    border: solid 2px #1c7a9c;
    background-color: #2aaddd;
    color: #222;
    font-size: 1rem;
    margin-top: 1rem;
    border-radius: 3px;
    text-align: center;
    margin-left: 5rem;
}

footer{
    margin-top: 1rem;
}

header{
    font-size : 1.5rem;
    margin-bottom: 2rem;
    font-family: Arial #ffffff; 
    font-weight: bold; 
    font-size: 30px; 
    text-shadow: -1px 0 #b9eded, 0 1px #b9eded, 1px 0 #b9eded, 0 -1px #b9eded;
}